<footer class="mt-auto border-top fixed-bottom bg-light">
  <div class="container d-flex justify-content-between align-items-center py-3">
    <div class="col-md-4 d-flex align-items-center w-50">
      <div class="row">
        <div class="col-sm my-auto">
          <span class="text-muted text-sm"><%= I18n.t('footer.author') %></span>
        </div>
      </div>
    </div>
    <div class="d-flex col-md-4 justify-content-end">
      <ul class="nav list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><%= image_tag("twitter.svg", size: "24") %></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><%= image_tag("instagram.svg", size: "24") %></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><%= image_tag("facebook.svg", size: "24") %></a></li>
      </ul>
    </div>
  </div>
</footer>
